nav {
    display: flex;
    justify-content: space-between;

}
.container {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
}

.three-image-col {
    display: block;
    background-color:;
    width: 40%;
    height: auto;
    justify-content: flex-start;
}

.img {
    display: inline-flex;
    justify-content: space-around;
   
    width: 100%;
    padding: 16px 16px;

}
.pic-text {
font-size: medium;
}
.imgg {
    display: inline-flex;
    justify-content: space-around;
    background-color: lightgrey;
    width: 100%;
    padding: 16px 16px;

}

.image-col {
    width: 60%;
    margin-right: 24px;
    margin-left: 24px;

}
#logo {
    display: inline-flex;
    margin-right: 12px;
}
#academy {
    font-weight: bold;
}
.nav-links p {
display: inline-flex;
margin-right: 12px;
}

.banner-container {
    display: inline-flex;
    background-color: lightgrey;
    width: 100%;
    height: auto;
}

.banner-text-container {
    width: 40%;
    height: auto;
    margin: auto;;

}
.asdf {
    width: 35%;
}
    
#main {
    width: 100%;
    height: auto;
}

#ori {
    display: flex;
    justify-content: center;
    
}
#imagecontainer {
    width: 60%;
    height: auto;
    margin: 32px 24px;
}
#bannerimage {
    width: 100%;
    height: auto;
}

}
#banner-text {
    color: gray;
    align-content: center;
    margin: 32px 24px;
}

#banner-tittle-p {
    padding: 24px 0;
}

   
}
#start-button {
    width: 60%;
    display: block;
    margin: 12px auto;
    padding: 8px 0px 8px;
    color: white;
    background-color: grey;
    
}


}
@media screen and (max-width: 767px){
    .banner-container {
        display: block;
        height: auto;
        width: 100%;
    }
    #imagecontainer {
        width: 100%;
        height: auto;
        padding: 0;
    }
    
    #imagecontainer img {
        max-width: 100%;
    }
    .banner-text-container {
        width: 100%;
        height: auto;
        padding: 32px 16px;
    }
}
    
